
overrides/config/splash.properties
overrides/config/jei/worldSettings.cfg
overrides/config/InvTweaks.cfg
overrides/config/AppliedEnergistics2/VersionChecker.cfg
overrides/config/AppliedEnergistics2/items.csv
overrides/config/jei/bookmarks.ini
overrides/config/tinker_ore_dict_melting_cache.dat
overrides/config/brandon3055/ProjectIntelligence/**
overrides/config/brandon3055/ResourceCache/**
overrides/config/brandon3055/contributors.json
