
overrides/config/splash.properties
overrides/config/jei/worldSettings.cfg
overrides/config/InvTweaks.cfg
overrides/config/AppliedEnergistics2/VersionChecker.cfg
overrides/config/AppliedEnergistics2/items.csv
overrides/config/jei/bookmarks.ini
overrides/config/tconstruct_oredictcache.dat
overrides/config/brandon3055/ProjectIntelligence/**
overrides/config/brandon3055/ResourceCache/**
overrides/config/brandon3055/contributors.json
overrides/config/enderio/recipes/*.pdf
overrides/config/enderio/recipes/examples/**
overrides/config/JustEnoughCalculation/record.json
build
buildtools/API-KEY
overrides/config/thaumicjei_itemstack_aspects.json
