# Configuration file

tools {
    # Terrastone Axe instantly breaks leaves
    B:AxeLeaves=true

    # Terrastone Hoe automatically moisturises created farmland
    B:HoeMoisturises=true

    # Terrastone Hoe acts like Shears when used on Leaves, etc
    B:HoeSilkTouch=true

    # Terrastone Pickaxe speed modifier for hard materials (set to 1 to disable)
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:PickaxeHardModifier=2.8

    # Terrastone Pickaxe speed modifier for soft materials (set to 1 to disable)
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:PickaxeSoftModifier=0.8

    # List of blocks in the format of modid:blockid that won't be harvested by runic tools
    S:RunicBlockBlacklist <
        minecraft:bedrock
        atum:limestone_brick_small
        atum:limestone_brick_large
        atum:limestone_brick_carved
        atum:burning_trap
        atum:poison_trap
        atum:tar_trap
        atum:smoke_trap
        atum:oil_trap
        aether_legacy:dungeon_block
        aether_legacy:dungeon_block:1
        aether_legacy:dungeon_block:2
        aether_legacy:dungeon_block:3
        aether_legacy:dungeon_block:4
        aether_legacy:dungeon_block:5
        aether_legacy:dungeon_trap
        aether_legacy:dungeon_trap:1
        aether_legacy:dungeon_trap:2
        aether_legacy:dungeon_trap:3
        aether_legacy:dungeon_trap:4
        aether_legacy:dungeon_trap:5
        aether_legacy:locked_dungeon_block
        aether_legacy:locked_dungeon_block:1
        aether_legacy:locked_dungeon_block:2
        aether_legacy:locked_dungeon_block:3
        aether_legacy:locked_dungeon_block:4
        aether_legacy:locked_dungeon_block:5
        thaumcraft:stone_ancient
        thaumcraft:slab_ancient:0
        thaumicaugmentation:stairs_ancient
        thaumicaugmentation:stone:3
        thaumicaugmentation:stone:6
        thaumcraft:stone_eldritch_tile
        thaumcraft:slab_eldritch:0
        thaumicaugmentation:stairs_eldritch_tile
        thaumicaugmentation:eldritch_lock_impetus
        thaumcraft:stone_ancient_doorway
        thaumcraft:stone_ancient_tile
        thaumcraft:stone_ancient_glyphed
        thaumicaugmentation:slab:0
        thaumicaugmentation:stone:4
        thaumicaugmentation:stone:10
        thaumicaugmentation:bars:0
        thaumicaugmentation:stone:5
        thaumicaugmentation:stone:9
        thaumicaugmentation:stone:11
     >

    # Terrastone Shovel has silk touch on grass, mycelium and podzol by default
    B:ShovelSilkTouch=true

    # Terrastone Sword instantly breaks cobwebs
    B:SwordCobwebBreak=true

    # Terrastone Sword silk-touches cobwebs
    B:SwordSilkTouch=true
}


