# Configuration file

##########################################################################################################
# boss_bar
#--------------------------------------------------------------------------------------------------------#
# Replace the boring old boss bars with something more fancy.
##########################################################################################################

boss_bar {
    # Enable tweaks for the Boss Bar. This requires AssetMover.
    B:"[01] Enable Boss Bar Tweaks"=false
}


##########################################################################################################
# boss_proof_blocks
#--------------------------------------------------------------------------------------------------------#
# Define blocks that can't be broken by the Ender Dragon and Wither.
##########################################################################################################

boss_proof_blocks {
    # Enable tweaks for the Boss Proof Blocks. This can be achieved by adding them to their respective OreDictionary.
    # [Ender Dragon] ore:proofEnderDragon
    # [Wither] ore:proofWither
    B:"[01] Enable Boss Proof Blocks"=false

    # These blocks will be unable to be broken by the wither.
    S:"[02] Default Wither" <
        minecraft:bedrock
        minecraft:end_portal_frame
        minecraft:command_block
        minecraft:repeating_command_block
        minecraft:chain_command_block
        minecraft:barrier
        minecraft:structure_block
        minecraft:structure_void
     >

    # These blocks will be unable to be broken by the ender dragon.
    S:"[03] Default Ender Dragon" <
        minecraft:bedrock
        minecraft:end_portal_frame
        minecraft:command_block
        minecraft:repeating_command_block
        minecraft:chain_command_block
        minecraft:barrier
        minecraft:structure_block
        minecraft:structure_void
        minecraft:obsidian
        minecraft:end_stone
        minecraft:iron_bars
     >
}


##########################################################################################################
# custom_credits
#--------------------------------------------------------------------------------------------------------#
# Customize the credits screen with your own text.
##########################################################################################################

custom_credits {
    # Enable the Custom Credits feature. This allows you to customize the credits screen.
    B:"[01] Enable Custom Credits"=false

    # Should the credits always be shown, when leaving the end? If false, they will only be shown once.
    B:"[02] Always Show Credits"=false

    # The path to the poem file. Relative to the instance folder.
    S:"[03] Custom poem path"=

    # The path to the custom credits file. Relative to the instance folder.
    S:"[04] Custom credits path"=

    # Resource location for the logo in the credits screen.
    S:"[05] Custom credits logo"=minecraft:textures/gui/title/minecraft.png
}


##########################################################################################################
# forced_resourcepack
#--------------------------------------------------------------------------------------------------------#
# Autoload a selection of resourcepacks.
##########################################################################################################

forced_resourcepack {
    # Load Resourcepacks by default.
    B:"[01] Enable Forced Resourcepacks"=false

    # Should Resourcepacks that aren't on the list be removed?
    B:"[02] Remove unlisted"=false

    # Resourcepacks will be loaded from first to last.
    S:"[03] Default Resource Packs" <
     >
}


##########################################################################################################
# improved_keybinds
#--------------------------------------------------------------------------------------------------------#
# Improved keybinds for the game.
##########################################################################################################

improved_keybinds {
    # Enable the Improved Keybinds feature.
    B:"[01] Enable Improved Keybinds"=true
}


##########################################################################################################
# instant_bone_meal
#--------------------------------------------------------------------------------------------------------#
# Instantly grow crops, trees, and other plants with bone meal.
##########################################################################################################

instant_bone_meal {
    # Enable the Instant Bone Meal feature. This allows you to instantly grow crops, trees, and other plants with bone meal.
    # It works like 99% of the time and I have no idea why it sometimes doesn't. So if anyone can provide some insight on that, please do.
    B:"[01] Enable Instant Bone Meal"=false
}


##########################################################################################################
# material_tweaker
#--------------------------------------------------------------------------------------------------------#
# A tool is not to your linkings? Tweak it to your likings!
##########################################################################################################

material_tweaker {
    # Enable the Material Tweaker feature. This allows you to tweak the materials of the game.
    B:"[01] Enable Material Tweaker"=false

    # Tweak the stacksize of items.
    # Format: modid:itemid;stacksize
    S:"[02] Tweak Stacksize" <
     >

    # Tweak the durability of items.
    # Format: modid:itemid;durability
    S:"[03] Tweak Durability" <
     >

    # Tweak the harvest level of items.
    # Format: modid:itemid;harvestlevel
    S:"[04] Tweak Harvest Level" <
     >

    # Tweak the enchantability of items.
    # Format: modid:itemid;enchantability
    S:"[05] Tweak Enchantability" <
     >

    # Tweak the efficiency of items.
    # Format: modid:itemid;efficiency
    S:"[06] Tweak Efficiency" <
     >

    # Tweak the attack damage of items.
    # Format: modid:itemid;attackdamage
    S:"[07] Tweak Attack Damage" <
     >

    # Tweak the attack speed of items.
    # Format: modid:itemid;attackspeed
    S:"[08] Tweak Attack Speed" <
     >

    # Tweak the protection of armor.
    # Format: modid:itemid;protection
    S:"[09] Tweak Armor Protection" <
     >

    # Tweak the toughness of armor.
    # Format: modid:itemid;toughness
    S:"[10] Tweak Armor Toughness" <
     >
}


##########################################################################################################
# mob_health_bar
#--------------------------------------------------------------------------------------------------------#
# Add a health bar to mobs. This is a 'neat' feature.
##########################################################################################################

mob_health_bar {
    # Enable the Mob Health Bar feature. This adds a health bar to mobs.
    B:"[01] Enable Mob Health Bar"=true

    # Should the health bar only be rendered when the player has a specific item equipped?
    # Leaving this empty will always render the health bar.
    # Format: modid:itemid[:metadata]
    # Example: minecraft:diamond_helmet
    S:"[02] Only Render with Equipment" <
     >

    # The maximum distance the health bar is rendered at.
    # Min: 0
    # Max: 2147483647
    I:"[03] Max Distance"=24

    # Specify multipliers for the distance at which the health bar is rendered.
    # These apply when the specified item is equipped by the player.
    # (main hand, off hand, or armor slot)
    # Format: modid:itemid[:metadata];multiplier
    # Example: minecraft:diamond_sword;2.0
    S:"[04] Distance Multipliers" <
     >

    # Should the health bar be rendered when the Interface is disabled?
    B:"[05] Render In F1"=false

    # The height above the mob the health bar is rendered at.
    # Min: 0
    # Max: 2147483647
    D:"[06] Height Above Mob"=0.6

    # Should the whole health bar have a background?
    B:"[07] Draw Background"=true

    # The shape of the health bar background.
    # Valid values:
    # STRAIGHT
    # ROUND
    S:"[08] Background Shape"=STRAIGHT

    # The radius of the health bar background. Only used if the shape is ROUND.
    # Min: 0
    # Max: 2147483647
    I:"[09] Background Radius"=4

    # The color of the background. Format: #RRGGBBAA
    S:"[10] Background Color"=#00000040

    # Should the actual bar have a gray background?
    B:"[11] Draw Gray Space"=true

    # The color of the gray space. Format: #RRGGBBAA
    S:"[12] Gray Space Color"=#7F7F7F7F

    # Should the health bar be drawn?
    B:"[13] Draw Health Bar"=true

    # The shape of the health bar.
    # Valid values:
    # STRAIGHT
    # ROUND
    S:"[14] Bar Shape"=STRAIGHT

    # The radius of the health bar. Only used if the shape is ROUND.
    # Min: 0
    # Max: 2147483647
    I:"[15] Bar Radius"=2

    # The alpha of the health bar.
    # Min: 0
    # Max: 255
    I:"[16] Health Bar Alpha"=127

    # The padding of the background.
    # Min: 0
    # Max: 2147483647
    I:"[17] Background Padding"=2

    # The height of the background.
    # Min: 0
    # Max: 2147483647
    I:"[18] Background Height"=6

    # The height of the health bar.
    # Min: 0
    # Max: 2147483647
    I:"[19] Health Bar Height"=4

    # The size of the health bar plate.
    # Min: 0
    # Max: 2147483647
    I:"[20] Plate Size"=25

    # The size of the health bar plate for bosses.
    # Min: 0
    # Max: 2147483647
    I:"[21] Plate Size (Boss)"=50

    # Should the health bar show the attributes of the mob?
    B:"[22] Show Attributes"=true

    # Should the health bar show the armor of the mob?
    B:"[23] Show Armor"=true

    # Should the health bar group the armor of the mob?
    # e.g. condense 5 iron icons into 1 diamond icon.
    B:"[24] Group Armor"=true

    # Should the health bar be colored by the type of mob instead of health percentage?
    B:"[25] Color by Type"=false

    # The height of the health text.
    I:"[26] HP Text Height"=14

    # Should the health bar show the max HP of the mob?
    B:"[27] Show Max HP"=true

    # Should the health bar show the current HP of the mob?
    B:"[28] Show Current HP"=true

    # Should the health bar show the percentage of the mob?
    B:"[29] Show Percentage"=true

    # Should the health bar show the name of the mob?
    B:"[30] Show Name"=true

    # Should the health bar be shown on players?
    B:"[31] Show Health Bar on Players"=true

    # Should the health bar be shown on bosses?
    B:"[32] Show Health Bar on Bosses"=true

    # Should the health bar only be shown for the entity you are looking at?
    B:"[33] Show Health Bar on Focused"=true

    # How long should the health bar be shown for after you stop looking at an entity? In milliseconds, 0 to disable.
    # Min: 0
    # Max: 2147483647
    I:"[34] Linger Health Bar on Focused"=1000

    # Should additional debug information be shown with F3 active?
    B:"[35] Show Debug Info"=true

    # Blacklist uses entity IDs. FORMAT: modid:entityid
    S:"[36] Mob Blacklist" <
        ArmorStand
     >

    # Enable instancing (a rendering technique) if the OpenGL version requirement and several conditions are met
    B:"[37] Health Bar Instancing"=true

    # Max number of instanced health bars
    I:"[38] Max Instancing Count"=100

    # Enable smooth health bar animation
    B:"[39] Smooth Health Bar Animation"=true

    # Animation smooth time
    D:"[40] Health Bar Animation Smooth Time"=0.30000001192092896

    # Should a Name Tag icon be shown next to the name if the mob has a custom name?
    B:"[41] Indicate Custom Name"=true
}


##########################################################################################################
# player_effects
#--------------------------------------------------------------------------------------------------------#
# Apply potion effects depending on different hunger and health conditions.
##########################################################################################################

player_effects {
    # Enable tweaks for the player effects.
    B:"[01] Enable Player Effects Tweaks"=false

    # The duration of the potion effects in ticks.
    # Min: 0
    # Max: 2147483647
    I:"[02] Effect Duration"=300

    # The refresh rate of the potion effects in ticks.
    # Min: 0
    # Max: 2147483647
    I:"[03] Effect Refresh Rate"=60

    # Add additional potion effects to the player depending on the health.
    # The health bounds must be between 0% and 100% of max health.
    # FORMAT: lower_bound;upper_bound;effect;amplifier
    # Example: 0;5;minecraft:slowness;2
    S:"[04] Health Potion Effects" <
     >

    # Add additional potion effects to the player depending on the hunger level.
    # The hunger bounds must be between 0 and 20.
    # FORMAT: lower_bound;upper_bound;effect;amplifier
    # Example: 0;5;minecraft:slowness;2
    S:"[05] Hunger Potion Effects" <
     >
}


##########################################################################################################
# sync_time
#--------------------------------------------------------------------------------------------------------#
# Never see the light of day again. (If you only play at night.)
##########################################################################################################

sync_time {
    # Enable the Sync Time feature. This synchronizes the world time with the system time of the server.
    B:"[01] Enable Sync Time"=false

    # Should sleeping be disabled?
    B:"[02] Sleeping"=false
}


