# Configuration file

general {

    ##########################################################################################################
    # general options
    #--------------------------------------------------------------------------------------------------------#
    # Configure general settings here
    ##########################################################################################################

    "general options" {
        # Prints a bunch of extra, mostly unvetted information. Keep this disabled unless instructed
        B:"Debug mode"=false

        # Set to false to disable player hats for special players
        B:"Enable player hats"=true

        # Set to false to disable the welcome messages for special players
        B:"Enable welcome messages"=true
    }

    ##########################################################################################################
    # dimension ids
    #--------------------------------------------------------------------------------------------------------#
    # Configure DivineRPG dimension IDs here. Don't change these unless you know what you're doing
    ##########################################################################################################

    "dimension ids" {
        I:Apalachia=422
        I:Arcana=426
        I:Eden=420
        I:Iceika=425
        I:Mortum=424
        I:Skythern=423
        I:Vethea=427
        I:Wildwood=421
    }

    ##########################################################################################################
    # gui options
    #--------------------------------------------------------------------------------------------------------#
    # Configure GUI settings here
    ##########################################################################################################

    "gui options" {
        # Min: 1
        # Max: 255
        I:ArcanaX=0

        # Min: 1
        # Max: 255
        I:ArcanaY=0

        # Don't render arcana bar if full
        B:HideArcanaBar=true
    }

}


