# Configuration file

general {
    # Appends prior mixin exceptions to crash reports to help diagnose crashes
    B:"Append General Mixin Exceptions To Crash Reports"=true

    # Mixin config json files to forcibly remove from FermiumBooter enqueue
    S:"Forced Early Mixin Config Removals" <
     >

    # Disables config based mixin compatibility checks
    # Warning: this may cause undefined behavior in mods, you should not enable this if not absolutely required
    # Do not report issues to any mods if you have this enabled unless you want to be laughed at
    B:"Override Mixin Config Compatibility Checks"=false

    # Prevents the mixin compatibility warning text from rendering on screen
    # Errors and warnings will still be printed to the log
    B:"Suppress Mixin Compatibility Warnings Render"=false
}


