# Configuration file

general {
    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Advanced Alloy Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Alabaster Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Aluminum Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Awakened Draconium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Basalt Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Blutonium Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Brass Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Certus Quartz Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Chaotic Draconium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Chrome Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Conductive Iron Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Constantan Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Cyanite Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Dark Matter Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Dark Steel Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Draconium Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Ebony Psimetal Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Electrical Steel Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Elementium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Enchanted Metal Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Enderium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Energetic Alloy Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Fluix Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Fluxed Electrum Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Gaia Spirit Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Hardened Stone Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Invar Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Iridium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Ivory Psimetal Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Lonsdaleite Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Ludicrite Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Lumium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Magical Wood Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Manasteel Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Mica Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Mithril Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Nickel Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Osmium Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Peridot Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Platinum Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Psigem Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Psimetal Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Pulsating Iron Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Quartz Enriched Iron Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Red Garnet Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Red Matter Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Redstone Alloy Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Refined Glowstone Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Refined Iron Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Refined Obsidian Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Rubber Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Ruby Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Sapphire Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Signalum Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Soularium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Terrasteel Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Tin Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Titanium Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Tungsten Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Tungstensteel Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Vibrant Alloy Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Wyvern Draconium Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Yellorium Material"=true

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Yellow Garnet Material"=false

    # Does not force the material, only allows it to be loaded. Other mods and requirements are still needed for this to load
    B:"Allow Zinc Material"=true
}


