# Configuration file

general {

    ##########################################################################################################
    # server options
    #--------------------------------------------------------------------------------------------------------#
    # Server-Side Options
    ##########################################################################################################

    "server options" {
        # Minimum size of the available common thread pool to run multithreading
        # Min: 1
        # Max: 2147483647
        I:"Thread Pool Minimum Size"=4
    }

}


