# Configuration file

general {

    ##########################################################################################################
    # server options
    #--------------------------------------------------------------------------------------------------------#
    # Server-Side Options
    ##########################################################################################################

    "server options" {
        # If NoiseThreader should multithread BetterCaves noise generation
        # If false, NoiseThreader will still optimize BetterCaves generation in general
        B:"Multithread BetterCaves Noise Generation"=true

        # Minimum size of the available common thread pool to run multithreading
        # Min: 1
        # Max: 2147483647
        I:"Thread Pool Minimum Size"=4
    }

}


