# Configuration file

enabledmappers {
    # Allows other Mods to add Recipes to the EMC Calculation. [default: true]
    B:APICustomConversionMapper=false

    # Allows other mods to set EMC values using the ProjectEAPI [default: true]
    B:APICustomEMCMapper=false

    # Add Conversions for Crafting Recipes gathered from net.minecraft.item.crafting.CraftingManager [default: true]
    B:CraftingMapper=false

    # Uses json files within config/ProjectE/customConversions/ to add values and conversions [default: true]
    B:CustomConversionMapper=false

    # Uses the `custom_emc.json` File to add EMC values. [default: true]
    B:CustomEMCMapper=true

    # Adds Conversions for fluid container items and fluids. [default: true]
    B:FluidMapper=false

    # Blacklist some OreDictionary names from getting an EMC value [default: true]
    B:OreDictionaryMapper=true

    # Add Conversions for `FurnaceRecipes` [default: true]
    B:SmeltingMapper=false
}


general {
    # Want to take a look at the internals of EMC Calculation? Enable this to write all the conversions and setValue-Commands to config/ProjectE/mappingdump.json [default: false]
    B:dumpEverythingToFile=false

    # Log known EMC Exploits. This can not and will not find all possible exploits. This will only find exploits that result in fixed/custom emc values that the algorithm did not overwrite. Exploits that derive from conversions that are unknown to ProjectE will not be found. [default: true]
    B:logEMCExploits=true

    # When the next EMC mapping occurs write the results to config/ProjectE/pregenerated_emc.json and only ever run the mapping again when that file does not exist, this setting is set to false, or an error occurred parsing that file. [default: false]
    B:pregenerate=false
}


mapperconfigurations {

    oredictionarymapper {
        # Set EMC=0 for everything that has an OD Name that starts with `ore`, `dust` or `crushed` besides `dustPlastic` [default: true]
        B:blacklistOresAndDusts=true
    }

    apicustomemcmapper {

        customemcpriorities {
            I:abyssalcraftpriority=1
            I:divinerpgpriority=1
            I:equivalentenergisticspriority=1
            I:expequivpriority=1
            I:thaumicequivalencepriority=1
        }

        permissions {

            equivalentenergistics {
                S:equivalentenergistics=none
            }

            abyssalcraft {
                S:abyssalcraft=none
                S:appliedenergistics2=none
                S:forge=none
                S:mekanism=none
                S:thermalfoundation=none
            }

            divinerpg {
                S:divinerpg=none
            }

            thaumicequivalence {
                S:IntermediateFakeItemsUsedInRecipes=none
                S:forge=none
                S:minecraft=none
                S:solarflux=none
                S:thaumcraft=none
                S:thaumicenergistics=none
                S:thaumictinkerer=none
            }

            expequiv {
                S:IntermediateFakeItemsUsedInRecipes=none
                S:actuallyadditions=none
                S:appliedenergistics2=none
                S:astralsorcery=none
                S:avaritia=none
                S:botania=none
                S:draconicevolution=none
                S:enderio=none
                S:immersiveengineering=none
                S:minecraft=none
                S:mysticalagradditions=none
                S:mysticalagriculture=none
                S:thaumcraft=none
                S:thermalfoundation=none
            }

        }

    }

    customconversionmapper {
        B:ODdefaults=false
        B:defaults=false
        B:metals=false
    }

    craftingmapper {

        irecipeimplementations {
            B:enableCraftTweakerRecipeMapper=false
            B:enablePECustomRecipeMapper=false
            B:enableRecipeStagesRecipeMapper=false
            B:enableVanillaRecipeMapper=false
        }

    }

    smeltingmapper {
        B:doBackwardsMapping=false
    }

    apicustomconversionmapper {

        allow {
            B:expequiv=false
            B:thaumicequivalence=false
        }

    }

}


