~ Saved With Hammer Lib 2.0.6.13

+C:Base={
  # Enable this part of ExpandedEquivalence (Default: true)
  +B:Enabled=true

}


+C:EMC={
  # Base cost for Matter Ball. Set to 0 to disable. (Default: 256, Range: [0;9223372036854775807])
  +L:MatterBall=256

  # Base cost for Singularity. Set to 0 to disable. (Default: 256000, Range: [0;9223372036854775807])
  +L:Singularity=256000

  # Base cost for Sky Stone. Set to 0 to disable. (Default: 64, Range: [0;9223372036854775807])
  +L:SkyStone=64

}


